<h3>Polar coordinates</h3>
<input id="radius" type="number" /> <label for="radius">r</label> <br/>
<input id="theta" type="number" /> <label for="theta">&theta;</label> <br/>

<script type="text/javascript">
    
    var v = null;
    
    function calculate() {
        
        var radius = parseFloat($("#radius").val());
        var theta = parseFloat($("#theta").val());
        
        var _v = MVector3.polar(radius, theta);
        
        var result = "X: " + _v.x + " Y: " + _v.y;
        $("#result").text(result);
        
        if(Detector.webgl) {
            
            if(v !== null)
                scene.remove(v);
                
            var vGeometry = new THREE.Geometry();
            vGeometry.vertices.push(new THREE.Vector3(0, 0, 0));
            vGeometry.vertices.push(new THREE.Vector3(_v.x, _v.y, _v.z));
            
            scene.add(v = new THREE.Line(vGeometry, redMaterial));
            
            renderer.render(scene, camera);
        }
    }
    
</script>